.headers {
  width: 100%;
  height: fit-content;
}
.head {
  width: 88%;
  height: fit-content;
  margin: auto;
}
.flexhead {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  margin-top: 2%;
}
.headone {
  font-size: 1.1rem;
  font-weight: 300;
}
.headbut {
  width: 35%;
  height: 8.3vh;
  color: black;
  background-color: #E6767A;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
}


.bodybox {
  width: 40%;
  height: fit-content;
  margin-left: 30%; 
  margin-top: 7%;
}
.bodyone {
  font-size: 1.8rem;
  font-weight: 600;
}
.bodythree {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 6%;
  color: #3F3C3D;
}
.bodythreen {
  font-size: 1rem;
  font-weight: 400;
  color: #3F3C3D;
}
.inp {
  width: 80%;
  border: 1px solid #D7D7D7;
  border-width: 1px;
  padding-left: 2%;
  height: 7.2vh;
  border-radius: 5px;
}
.bodythrees {
  font-size: 1rem;
  font-weight: 400;
  color: #FF4D4F;
  text-align: center;
}
.bodyspa {
  font-size: 1rem;
  font-weight: 400;
  color: #FF4D4F;
}
.bodylog {
  width: 82%;
  border: none;
  text-align: center;
  height: 7.2vh;
  border-radius: 5px;
  color: black;
  background-color: #D7D7D7;
  font-size: 1.1rem;
  margin-left: 6%;
}
.or {
  width: 86%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6%;
}
.orone {
  width: 42%;
  height: 0.2vh;
  background-color: #D7D7D7;
}



.footer {
  width: 100%;
  height: 10vh;
  bottom: 0;
  position: fixed;
}
.long {
  width: 100%;
  height: 0.2vh;
  background-color: whitesmoke;
}
.foot {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footone {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.unflex {
  width: 41%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}